* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #000;
    font-family: 'Lato', sans-serif;
    width:100%;
}

h1 {
    text-align: center;
}

img {
    max-width: 300px;
}

form {
    display: flex;
    max-width : 500px;
    width: 80%;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

input {
    margin-bottom: 10px;
    width: 150px;
    padding: 5px;
}

label {
    display: flex;
}

span {
    min-width: 150px;
    display: block;
}

#collection {
    color: #308d46;
    font-weight: 600;
}

@media screen and (max-width:400px) {
    input {
        width: 120px;
    }
    span {
        min-width: 120px;
        font-size: 12px;
    }
    form {
        width: 98%;
    }
    label {
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 200px
    }
}